body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;

}

.product-header-list {
    display: flex;
    margin: 0 5px;
    overflow: auto;
    min-width: 0;
}

.product-header-list-item {
    list-style: none;
    border: 2px #959595 solid;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    padding: 10px;
    margin-right: 10px;
    line-height: 15px;
    background-color: #e8e8e8;
    min-width: 0;
    overflow: hidden;
    
}



.product-header-list-item_active {
    background-color: white;
}

.product-header-list-item:hover {
    cursor: pointer;
}

.product-list {
    display: flex;
    flex-wrap: wrap;

    border: 2px #959595 solid;
    padding: 10px;
    min-width: 0;
}

.product-list-item {
    width: 70px;
    height: 70px;
    border: 2px #959595 solid;
    margin: 10px;
    background: url(./src/tovar.jpg) center no-repeat;
    background-size: contain;
    position: relative;

}

.product-text {
    position: absolute;
    bottom: 0;
    text-align: center;
}